@CHARSET "UTF-8";
body {
	padding-top:70px;
}

#sidebar-left {
	height: 100%;
	padding: 0;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1040;
	display:none;
}

#sidebar-right {
	height: 100%;
	padding: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1040;
	display:none;
}